body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
    h1 {
        padding: 30px 0 0px 40px;
        margin-bottom: 10px;
    }
    hr {
        margin: 0px 40px 10px 40px;
    }
}
.container {
    display: flex;
    gap: 20px;
    padding: 0 40px 40px 40px;

}
#artikliTabela {
    width: 300px;
    height: 200px;
    border-collapse: collapse;
    margin-bottom: 20px;

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }
}
#detaljiArtikla {
    width: 280px;
    height: 180px;
    border: 1px solid black;
    display: none;
    padding: 10px;
}
#forma {
    border: 1px solid black;
    padding: 25px;
    width: 250px;
    height: 150px;

    label {
        display: inline-block;
        width: 70px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    input {
        padding: 10px 0 0 5px;
        border: none;
        border-bottom: black 1px solid;
        width: 60%
    }

    button, #submitBtn {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 15px;
    margin-top: 15px;
    cursor: pointer;
    font-weight: bold;
    display: block; 
    margin-left: auto;
    }
}
